#  Avorion-specific ignores
#  since i'm just publishing the contents of my avorion mods folder (purely for my ease of access) this has to have some extra bits and pieces in here just to make it only keep the relevant stuff.
# avorion workshop cache
/workshop/
# avorion client mod configuration
/modconfig.lua
# custom windows shortcuts i keep in this folder
/*.lnk
# sometimes i 7z old projects so that the client doesn't try to load them
/*.7z

# redacting some things im not sure i can publish like this.
CraftIcons-PlanetaryAnnihilation/data/textures/icons/pixel/rglx_planetaryannihilationtacticalicons/icon_*.png

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.sublime-workspace
*.sublime-project
